html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input{
  margin-bottom: 5px;
}
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    text-align: center;
}
.content {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.list-group-item{
  display: flex;
  justify-content: space-around;
}

#busd{
  margin-bottom: 15px;
}

.button-color{
  background-color: #1c4b8c;
}